<%- include('../partials/header'); %>

    <h1>Autores</h1>
    <hr>

    <a class="button" href="/autores/create">Nuevo</a>

    <table>
        <thead>
            <tr>
                <th>Nombre y apellido</th>
                <th>Nacimiento</th>
                <th>Muerte</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% autores.forEach(function(autor) { %>
                    <tr>
                        <td><a href="/autores/<%= autor.id %>"><%= autor.nombre_completo %></a></td>
                        <td> <% if(autor.nacimiento) {%><%= autor.fecha_nacimiento %><% } %></td>
                        <td><% if(autor.muerte) {%><%= autor.fecha_muerte %><% } %></td>
                        <td>
                            <a class="button" href="/autores/<%= autor.id %>/edit">Editar</a>
                            <a class="button button-danger" href="/autores/<%= autor.id %>/delete">Eliminar</a>
                        </td>
                    </tr>
                <% }); %>
            </tr>
        </tbody>
    </table>

<%- include('../partials/footer'); %>