<%- include('../partials/header'); %>

    <h1>Instancias de libros</h1>
    <hr>

    <a class="button" href="/instancia_libros/create">Nueva</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Libro</th>
                <th>Estatus</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% instancia_libros.forEach(instancia => { %>
                    <tr>
                        <td><a href="/instancia_libros/<%= instancia.id %>"><%= instancia.id %></a></td>
                        <td><%= instancia.libro.titulo %></td>
                        <td><%= instancia.estatus %></td>
                        <td>
                            <a class="button" href="/instancia_libros/<%= instancia.id %>/edit">Editar</a>
                            <a class="button button-danger" href="/instancia_libros/<%= instancia.id %>/delete">Eliminar</a>
                        </td>
                    </tr>
                <% }); %>
            </tr>
        </tbody>
    </table>

<%- include('../partials/footer'); %>