<%- include('../partials/header'); %>

    <h1>Editoriales</h1>
    <hr>

    <a class="button" href="/editoriales/create">Nueva</a>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>País</th>
                <th>Web</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% editoriales.forEach(editorial => { %>
                    <tr>
                        <td><a href="/editoriales/<%= editorial.id %>"><%= editorial.nombre %></a></td>
                        <td><%= editorial.pais %></td>
                        <td><a href="<%= editorial.web %>"><%= editorial.web %></a></td>
                        <td>
                            <a class="button" href="/editoriales/<%= editorial.id %>/edit">Editar</a>
                            <a class="button button-danger" href="/editoriales/<%= editorial.id %>/delete">Eliminar</a>
                        </td>
                    </tr>
                <% }); %>
            </tr>
        </tbody>
    </table>

<%- include('../partials/footer'); %>